.activities-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  h1 {
    color: #283853;
    font-size: 1em;
    font-weight: 400;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &__actions {
    color: #fff;
  }

  &__button {
    padding: 0.2em 0.4em;
    border-radius: 8px;
    font-size: 0.8em;
    transition:
      background-color 0.24s ease-in-out,
      transform 0.24s ease-in-out;

    &--archive {
      background-color: rgb(199, 170, 228);
      cursor: pointer;

      &:hover {
        background-color: rgb(191, 143, 238);
      }
    }

    &--label {
      background-color: rgb(206, 206, 206);
    }
  }
}
