$selectionColor: #12495d;

@import "core/fonts.scss";
@import "core/reset.scss";
@import "core/base.scss";

.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

// PhonePlugin
@import "components/phonePlugin/PhonePlugin.scss";
@import "components/phonePlugin/PluginActionBar.scss";
@import "components/phonePlugin/FilterCall.scss";
@import "components/phonePlugin/FilterTab.scss";
@import "components/phonePlugin/ContentScreen.scss";
@import "components/phonePlugin/PluginActonFooterBar.scss";
@import "components/phonePlugin/PhoneItem.scss";

@import "components/phonePlugin/CoverButton.scss";
