.phone-plugin {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25em;
  height: 34em;
  transition:
    width 0.3s,
    height 0.3s;
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
