.phone-plugin {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25em;
  background: #fff;
  // height: 34em;
  border-radius: 18px;
  overflow: hidden;
  // overflow-y: scroll;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
//
