.plugin-action-bar {
  display: flex;
  width: 100%;
  // height: 1em;
  background: gray;
  justify-content: space-between;
  padding: 0.5em 0.5em;

  &__close {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0.1em;
    background: #ed6a5e;
    width: 18px;
    height: 18px;

    img,
    svg {
      display: block;
      opacity: 0;
      transition:
        opacity 0.24s ease-in-out,
        transform 0.24s ease-in-out;
      color: #151515;
    }

    &:hover {
      transform: scale(1.05);

      img,
      svg {
        opacity: 1;
      }
    }
  }

  &__que {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 0.1em;
    background: #595757;
    width: 18px;
    height: 18px;
    color: #a6a6a6;
    transition: color 0.24s ease-in-out;
    &:hover {
      color: #c6c6c6;
    }
  }
}
