.phone-item {
  position: relative;
  display: flex;
  border-radius: 18px;
  color: #151515;
  overflow: hidden;
  border: 1px solid #e6e6e6;

  &.missed {
    border: 1px solid rgba(255, 96, 96, 0.5);
  }
  &__line {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0.4em 0.2em;
    z-index: 10;
    background-color: #fdfeff;

    cursor: pointer;
    border-radius: 18px;

    transition:
      background-color 0.24s ease-in-out,
      transform 0.3s ease-in-out;
    &:hover {
      background-color: #e9f0f7;
    }
  }
  &__line.missed {
    // border: 1px solid rgba(255, 96, 96, 0.5);
  }
  &__line.slide {
    transform: translateX(-3em);
  }

  &__callDetails {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em 1em;
  }
  &__time {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0.5em 1em;
    text-align: end;
  }
  &__direction {
    position: relative;
    font-size: 1.7em;
    &--outbound {
      color: rgba(83, 159, 241, 0.8);
    }
    &--inbound {
      color: rgba(255, 96, 96, 0.8);
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    text-wrap: nowrap;
  }
  &__from {
    font-size: 1em;
    font-weight: 300;
    color: #151515;
  }
  &__to {
    font-size: 0.8em;
    font-weight: 300;
    color: #151515;
  }
  &__copy {
    font-size: 0.7em;
    font-weight: 300;
    color: #151515;
  }
  &__created {
    font-size: 1em;
    font-weight: 300;
    color: #151515;
  }
  &__duration {
    font-weight: 100;
    color: rgba(21, 21, 21, 0.8);
    font-size: 0.8em;
    white-space: nowrap;
  }
  &__archive {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f2f6fa;
    width: 4em;
    top: 0;
    right: 0;
    background-color: #ff8d8d;
    height: 100%;
    border-radius: 0 18px 18px 0;
    margin: 0.1px;
    cursor: pointer;
    transition: background-color 0.24s ease-in-out;
    &:hover {
      background-color: #ff6b6b;
      color: #f5e9e4;
    }
  }
  &__missed {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 0.8rem;
    font-weight: 100;
    background: rgb(255, 96, 96);
    padding: 0.1em 0.2em;
    border-radius: 16px;
    color: #fff;
    z-index: 20;
  }
}
