.phone-core {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 25em;
  transition:
    width 0.3s,
    height 0.3s;
  background: #fff;
  border-radius: 54px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-bottom: 1em;
  margin: 2em;

  max-height: calc(100vh - 20px);

  @media (max-width: 768px) {
    margin: 0.5em;
    box-shadow: unset;
    border-radius: 4px;
    
  }

  &__head,
  &__title,
  &__page {
    display: flex;
    width: 100%;
    background: #fff;
  }

  &__head,
  &__page {
    flex-direction: column;
    padding: 2em 2em 0;
    color: #283853;
    @media (max-width: 768px) {
      padding: 2em 0.5em 0;
    }
  }

  &__title {
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    padding: 0.5em 0;
    font-weight: 500;
    font-size: 1.5em;
    color: #283853;
  }

  &__page {
    height: 34em;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  &.collapsed {
    width: 6em;
    height: 6em;

  @media (max-width: 768px) {
    margin: 0.5em;
    box-shadow: unset;
    border-radius: 50px;
  }
    .phone-core__title,
    .menu,
    .phone-core__page,
    .action-bar__que {
      display: none;
    }

    .cover button {
      display: flex;
    }
    .action-bar {
      justify-content: center;
    }
  }

  .cover button {
    display: none;
  }
}
